<div *ngIf="word">
  <ng-container [ngSwitch]="state">
    <ng-template [ngSwitchCase]="StateEnum.Active">
      <p>Hint: {{ hint() }}</p>
      <p>Guessed: {{ guessedLetters.toString() }}</p>
      <form (submit)="onSubmit($event)">
        <input type="text" [formControl]="guessControl" />
        <button>Guess</button>

        <ul *ngIf="shownErrors" class="warnings">
          <li *ngIf="shownErrors?.alreadyGuessed">
            Cannot guess the same guess twice
          </li>
          <li *ngIf="shownErrors?.pattern">Guess must only contain letters</li>
          <li *ngIf="shownErrors?.invalidLength">
            Guess must be only one letter or the full word
          </li>
        </ul>
      </form>
    </ng-template>

    <ng-template [ngSwitchCase]="StateEnum.Win"
      >You Win! The word was: {{ word }}</ng-template
    >
    <ng-template [ngSwitchCase]="StateEnum.Loss"
      >You Lose! The word was: {{ word }}</ng-template
    >
  </ng-container>

  <button *ngIf="state != StateEnum.Active" (click)="reset()">Restart</button>
</div>
